.productMenu {
  position: relative;
  &:hover > .submenu {
    display: block;
    left: 0;
  }
}
.submenu {
  position: absolute;
  @apply w-[150px];
  @apply bg-black;

  & > li:hover {
    @apply bg-slate-500;
  }
}

#liTest {
  &:hover > ul#ulTest {
    display: block;
    left: 100%;
    top: 50%;
  }
}
ul#ulTest {
  position: absolute;
  @apply w-[150px];
  @apply bg-black;

  & > li:hover {
    @apply bg-slate-500;
  }
}

// Animations:

@keyframes hideTxtAnimation {
  from {
    bottom: 0;
    opacity: 1;
  }

  to {
    bottom: -1.5rem;
    opacity: 0;
  }
}

@keyframes showTxtAnimation {
  from {
    bottom: -1.5rem;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.hideTxt {
  position: relative;

  animation: hideTxtAnimation 0.4s;
  animation-fill-mode: forwards;
}

.showTxt {
  position: relative;

  animation: showTxtAnimation 0.3s;
  animation-fill-mode: forwards;
}

@keyframes moveInLeftAnimation {
  from {
    left: 0;
  }

  to {
    left: 2rem;
  }
}

.moveInLeft {
  position: relative;

  animation: moveInLeftAnimation 0.3s;
  animation-fill-mode: forwards;
}

@keyframes moveOutLeftAnimation {
  from {
    left: 2rem;
  }

  to {
    left: 0;
  }
}

.moveOutLeft {
  position: relative;

  animation: moveOutLeftAnimation 0.3s;
  animation-fill-mode: forwards;
}

@keyframes moveInRightAnimation {
  from {
    left: 0;
  }

  to {
    left: -2rem;
  }
}

.moveInRight {
  position: relative;

  animation: moveInRightAnimation 0.3s;
  animation-fill-mode: forwards;
}

@keyframes moveOutRightAnimation {
  from {
    left: -2rem;
  }

  to {
    left: 0;
  }
}

.moveOutRight {
  position: relative;

  animation: moveOutRightAnimation 0.3s;
  animation-fill-mode: forwards;
}
