.layout {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'navbar navbar navbar navbar'
    'main main main main'
    'footer footer footer footer';
}
