@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'navbar navbar navbar navbar'
      'main main main main'
      'footer footer footer footer';
  }
  