.footer-bar {
    background-color: #00130F;
    padding: 2em 1em;
    font-size: 15px;
    line-height: 24px;
}

.contactIcon {
    text-align: center;
}

.locationLink {
    color: #A98E62;
}

.socialIcon {
    margin-right: 0.2em;
}

.license {
    text-align: center;
    margin: 1%;
}

.logo {
    height: 10px;
}